.project-card {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  background-color: #F5CAC3;
  color: rgb(65, 65, 65);
  padding: 1rem;
  text-align: center;
  z-index: 1;
}

.project-card .project-video {
  width: 100%;
  height: auto;
  display: block;
  /* Ensure video is visible by default */
  z-index: 1001;
}

.project-card.expanded {
  width: 80%;
  max-width: 800px;
  height: auto;
  max-height: 650px;
  margin: auto;
  z-index: 1000;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  transition: none;
  /* Disable transition in expanded state */
  cursor: pointer;
}

.project-card.expanded:hover {
  background-color: #000;
  /* Maintain black background on hover */
  transition: none;
  /* Remove transition on hover */
}

.project-card.expanded .project-video {
  display: block;
  width: 100%;
  height: 100%;
}

.project-card.expanded h3,
.project-card.expanded p {
  display: flex;
  z-index: 1001;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}

.github-button-link {
  text-decoration: none;
  margin-top: 15px;
  z-index: 2;
  position: relative;
}

.github-button {
  color: white;
  background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
  padding: 0.5rem 1rem;
  /* Smaller padding */
  border-radius: 20px;
  /* Smaller border radius */
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  /* Smaller font size */
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin: 10px;
}

.github-button:hover {
  background-color: #e63946;
  transform: scale(1.05);
  margin-bottom: 10px;
  z-index: 999;
}

.project-card h3 {
  color: black;
}

.project-card:hover h3 {
  color: black;
}

.project-card.expanded h3 {
  color: #e63946;
}