/* Main content styles */
main {
    padding: 2rem;
    max-width: 1200px; /* Limit the width for better readability */
    margin: 0 auto; /* Center the content */
}

.hero {
    background-color: #F5CAC3;
    color: olive;
    text-align: center;
    padding: 4rem 2rem;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero-content button {
    background-color: salmon;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
}

.hero-content button:hover {
    background-color: olive;
  }

.about,
.projects {
    margin-top: 4rem;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    flex: 1;
}

.about-image {
    margin-left: 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
}