/* Header styles */
header {
    background-color: salmon;
    width: 100%;
    color: white;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin-left: 1rem;
  }